<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
</head>
<body>
  <h1>User Profile</h1>
  
  <!-- Avatar Upload -->
  <form action="/profile/avatar" method="POST" enctype="multipart/form-data">
    <input type="file" name="avatar" accept="image/*">
    <button type="submit">Upload Avatar</button>
  </form>
  <% if (user.avatar) { %>
    <img src="<%= user.avatar.url %>" alt="Avatar" width="100">
    <form action="/profile/avatar" method="DELETE">
      <button type="submit">Remove Avatar</button>
    </form>
  <% } %>

  <!-- Cover Upload -->
  <form action="/profile/cover" method="POST" enctype="multipart/form-data">
    <input type="file" name="cover" accept="image/*">
    <button type="submit">Upload Cover</button>
  </form>
  <% if (user.cover) { %>
    <img src="<%= user.cover.url %>" alt="Cover" width="200">
    <form action="/profile/cover" method="DELETE">
      <button type="submit">Remove Cover</button>
    </form>
  <% } %>
</body>
</html>